.mainContainer{
  width:100%;
  min-height:100%;
  background: url("../Analytics/background.svg") rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainBox{
  margin: 50px 0px;
  width: 60%;
  min-height: 800px;
  background: white;
  -webkit-box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.31);
box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.31);
display: flex;
flex-direction: column;
}

.mainHeading{
  box-sizing: border-box;
  height:50px;
  padding: 7px;
  width:100%;
  background: #193347;
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
  color: white;
}

.mainChoices{
  padding: 100px 0px;
  box-sizing: border-box;
  min-height:750px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.mainController{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 40px;


}

.mainController > *{
  margin-left: 40px;
}

.flash-box{
  margin-top: 30px;
}

.mainResults{
  width: 85%;
}

.errorline{
  color: red;
}

ol{
  

}
