.analytics-container{
  width:100%;
  min-height:100%;
  /*background: rgb(220,220,220);*/
  background: url("./background.svg") rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /*border: 2px solid black;*/
}

.analytics-container > *{
  margin: 15px 0px;
}

/* Scraping Crawling overview Analytics Component */
.overview{

  display: flex;
  justify-content: space-around;
  width:90%;

  /*min-height:35%*/
  /*border:2px solid black;*/
}

/* Container for both scraping and crawling row */
.overview .sc{
  width:45%;
  min-height:311px;
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;



  /*Remove this !!!!!!!!!!!!!!!!!!!1*/

  -webkit-box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.61);
-moz-box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.61);
box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.61);

}
/* Heading Container for both scraping and crawling row */
.sc .sc-heading{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  box-sizing: border-box;
  flex:1;
  padding: 7px;
  width:100%;
  background: #193347;
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
  color: white;
}

/* Container main info for both scraping and crawling row */
.sc .sc-container{
  font-size: 11px;

  flex:9;
  width:100%;
  background: white;
  display: flex;

  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
/* Container for chartjs graph for both scraping and crawling row */
.sc-container .sc-graph{
  width: 55%;
/*flex: 5;*/
  height: 100%;
  /*background: green;*/

}


/* Container for side info for both scraping and crawling row */
.sc .sc-info{
  width: 45%;
  /*flex: 5;*/
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: 'Roboto', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;

}

.focus {

  font-size: 1.5em;
  color:#102B3F;

}

.sc-percentage-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  transform: translateX(-20px);
}

.sc-percentage-container > div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main{
  width: 90%;

/*border:2px solid black;*/
display: flex;
align-items: center;
justify-content: space-around;

}



.websites-heading{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-sizing: border-box;
  width:10%;
  padding: 7px;
  width:100%;
  background: #193347;
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
  color: white;
}
