.main .controls{
  min-height:356px;
  width: 20%;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.61);
  -moz-box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.61);
  box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.61);
  background: white;

  display: flex;
  flex-direction: column;
}

.controls-heading{
  display: flex;
  align-items: center;
  justify-content: space-around;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-sizing: border-box;
  width:1;
  padding: 7px;
  width:100%;
  background: #193347;
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
  color: white;
}

.controls-content{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  flex:9;
  width:100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 10px;
  box-sizing: border-box;

  font-size: 16px;
}

.controls-content > span{
  
  width:100%;
  display: flex;
  align-items: center;


}
.key{
  padding-left: 15px;
  font-size: 1.2em;
  flex:5;
  display: flex;
  align-items: center;
  justify-content:

}
.value{
  font-size: 1em;
  flex:5;
  display: flex;
  align-items: center;
  justify-content:
}

.green {
  color:green;
}
.red{
  color: red;
}

/*Repeated CSS*/
.controls-edit{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  flex:9;
  width:100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 30px;
  box-sizing: border-box;

}
.controls-edit > * {
  width:100%;

}

.controls-edit-sc{
  display: flex;
  align-items: center;

  justify-content: space-between;

}

.controls-edit-sc img{
  flex:1;

}
.controls-edit-sc div{
  flex:9;

}

.controls-edit-sc input{
  width:80%;
}

#save{
  text-align: center;
}
