.main .websites{
  min-height:356px;
  height:100%;
  width: 70%;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.61);
  -moz-box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.61);
  box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.61);
  background: white;

  display: flex;
  flex-direction: column;


}


.websites-heading{
  min-height: 44px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-sizing: border-box;
  padding: 7px;
  width:100%;
  background: #193347;
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
  color: white;
}

.websites .websites-container{
  width: 100%;
  min-height: 312px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
}

.websites-search{
  box-sizing: border-box;
  padding-top: 10px;
  flex:1.5;
  display: flex;
  align-items: center;
}
.websites-search > *{
  margin-left: 20px;
}

.websites-search img:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: transform 0.2s ease;
}

/*For left right arrows*/
.activated:hover{
  transform: scale(1.2);
  transition: transform 0.2s linear;
  cursor: pointer
}

.websites-caraousel{
  flex:8;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /*background: red;*/
}

.website-grid{
  overflow: hidden;

  width:180px;
  height:200px;
  /*border:2px solid black;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;

  -webkit-box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.41);
  -moz-box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.41);
  box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.41);

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e2e2e2+0,dbdbdb+50,d1d1d1+51,fefefe+100;Grey+Gloss+%231 */
background: rgb(226,226,226); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.website-grid-hero{
  width:100%;
  height:120px;
  border-radius: 0 0% 65% 40%;

}

.job-thumbnail{
  background: url("./job.jpg");
}

.event-thumbnail{
  background: url("./event.jpg");
}

.education-thumbnail{
  background: url("./education.jpg");
}

.websites-marker{
  flex:1;
  text-align: center;

}


/*Website Detail Section*/

.websites-details-container{
  width: 100%;
  height:100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
}

.website-graph-container{
  flex:6;
  min-height: 312px;
  display: flex;
  flex-direction: column;

  /*border: 1px solid black;*/
}

.custom-search{
  flex:1;
  display: flex;
  align-items: center;
  justify-content: flex-start;


  padding-top: 10px;
  box-sizing: border-box;
}

.custom-search > * {
  margin-left: 15px;
}

.website-timeline-graph{
  flex:9
}


.website-info-container{

  padding: 0px 20px;
  box-sizing: border-box;
  flex:4;
  min-height: 312px;
  font-family: 'Roboto', sans-serif;
  /*background: green;*/

  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

.website-info-container > div{
  width:100%;
  /*border:1px solid black;*/
}

.partition{
  display: flex;
  align-items: center;
}

.primary{
  flex:5;
  padding-left: 25px;
  box-sizing: border-box;
  font-weight: 600;
}

.secondary{
  flex:5;

}

.iconset{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.primaryIcon{
  /*border:1px solid black;*/
  flex:2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.secondaryIcon{
  /*border:1px solid black;*/
  flex:8;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.secondaryIcon > div{
  display: flex;
  align-items: center;
}

.secondaryIcon > div > span{
  margin-left: 6px;
}

.website-info-controls{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.website-info-controls > div{

  margin-right:15px;
  transform: translateX(-20%);

}

#pulse{
  width: 100%;
  min-height:312px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hoverScale:hover{
  transform: scale(1.08);
  transition: transform 0.2s ease;
  cursor: pointer;
}

.dateGroup{
  display: flex;
  align-items: center;
  justify-content:space-between;

}
