.header{
  position: fixed;
  top:0px;
  left:300px;
  width: calc(100% - 300px);
  z-index: 100;
  height:77px;
  background: #102B3F;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  color:rgba(255,255,255,0.7);
  letter-spacing: 3px;
  -webkit-box-shadow: 0px 6px 23px -5px rgba(0,0,0,0.61);
-moz-box-shadow: 0px 6px 23px -5px rgba(0,0,0,0.61);
box-shadow: 0px 6px 23px -5px rgba(0,0,0,0.61);
}

.main-title{
  font-size: 30px;
  margin-left: 100px;
  /*transform: translateX(200px);*/
}

.profile{
  /*transform: translateX(100%);*/
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top:16px;
  right: 40px;
}

.profile img{
  width: 42px;
}
