.sidebar{
  box-sizing: border-box;
  position: fixed;
  top:0;
  left:0;
  z-index: 300;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #102B3F;
  width:300px;
  height:100vh;
  overflow: hidden;
  overflow-x: hidden;
  transition: transform 0.5s ease;
  -webkit-box-shadow: -1px 0px 23px -2px rgba(0,0,0,0.61);
  -moz-box-shadow: -1px 0px 23px -2px rgba(0,0,0,0.61);
  box-shadow: -1px 0px 23px -2px rgba(0,0,0,0.61);

}

#hamburger{
  position: fixed;
  top:15px;
  left:30px;
  z-index: 200;
}

.sidebar-list{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 50px;
  width:100%;
  margin:40px;
  padding:0;
}
/*#slide-menu{
  transition: transform 0.2s ease;
}
#slide-menu:hover{
  cursor: pointer;
  transform: scale(1.1);
}
#slide-menu-out{
  position: fixed;
  top:12px;
  left:30px;
  cursor: pointer;
}
#slide-menu-out:hover{
  transition: transform 0.2s ease;
  transform: scale(1.1);
}*/

.sidebar .sidebar-logo{
  padding: 20px 10px;
  margin-top: 20px;
}

.sidebar-logo > *{
  margin-left: 10px;
}

#atgLogo{
filter:drop-shadow(0px 15px 0.45rem rgba(0,0,0,0.6));

}

.sidebar .sidebar-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 95%;
}
.sidebar-list li{

  list-style: none;
  font-size: 25px;

}


.sidebar-list li a{
  padding: 10px 10px 10px 10px;
  margin-left: 15px;
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  color:grey;
  width: 100%;
  height:100%;
  transition: all 0.2s ease;
  color:rgba(255,255,255,0.8);
  margin-bottom: 10px;


}
.sidebar-list li a:hover,.active-tab{
  border-top-left-radius:30px;
  border-bottom-left-radius:30px;

  cursor: pointer;

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

background: white;
color: black !important;


}

.sidebar-list li:hover{
  animation: sideAnim 0.2s ease;
}

.sidebar-list li a{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
}
.sidebar-list li a span{
  margin-left: 18px;
  letter-spacing: 1.2px;
}


.sidebar-list li a img{
  margin-left: 16px;
  filter:drop-shadow(0px 15px 0.45rem rgba(0,0,0,0.3));

}

@keyframes sideAnim {
  from {
    transform: scale(1.1) translateY(-20%);
  }

  to {
    transform: scale(1) translateY(0%);
  }

}
