.addwebsites-container{
  position: relative;
  box-sizing: border-box;
  height:750px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.1);
  background: white;
}
.addwebsites-container > div,.addwebsites-container > *{
  width: 70%;
  margin-bottom: 30px;
}
.emphasis{
  font-size: 28px;
  letter-spacing: 1.5px;
  text-align: center;
  font-weight: 400;

}

svg{
  font-size:32px !important;
}
#flash > div > div.MuiAlert-message{
  font-size: 22px !important;
  text-align: center !important;
}

#flash{

  text-align: center !important;
}

#backButton{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 150px;
  margin-top: 20px;
  margin-right: 50px;
}
