.test{
  border:1px solid black;
  width: 100%;
}

#root > div.main-container > div.sub-container > div > div > div > header > div > div > div{
  background: #193347 !important;
}

.testboard-box{
  margin-top: 35px;
  margin-bottom: 20px;
}

.errorText{
  color:red;
}
