.fetcher-container{
  position: relative;


  min-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fetcher-container > div{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 30px;

}

.fetch-controller > *{
  width: 500px !important;
}
.fetch-controller button{
  width: 150px !important;
}

.fetcher-container > div > *{
  width: 100%;
}

.execute{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.execute > div{
  width: 500px !important;
}

.execute > button{
  width: 150px !important;
}

.jsonHeader{
  font-size: 26px;
  letter-spacing: 1.5px;
  font-weight: 'poppins';
}

#backButton{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 150px;
  margin-top: 20px;
  margin-right: 90px;
}
