.testboard-container{
  width:100%;
  min-height:100%;
  background: url("../Analytics/background.svg") rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.testboard-box{
  width: 60%;
  min-height: 800px;
  background: white;
  -webkit-box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.31);
box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.31);
display: flex;
flex-direction: column;

}

.testboard-heading{
  box-sizing: border-box;
  height:50px;
  padding: 7px;
  width:100%;
  background: #193347;
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
  color: white;
}

.testboard-choices{
  box-sizing: border-box;
  height:750px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.1)

}
.banner{
  font-size: 32px;
  letter-spacing: 1.5px;
  margin-bottom: 100px;
}

.testboard-choices > div{
  width:100%;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.testboard-cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 250px;
  cursor: pointer;
  border-radius: 20px;

  color:rgba(0,0,0,0.7);


  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e2e2e2+0,dbdbdb+36,d1d1d1+64,d1d1d1+85,d1d1d1+100,fefefe+100,d1d1d1+100 */
background: rgb(226,226,226); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 36%, rgba(209,209,209,1) 64%, rgba(209,209,209,1) 85%, rgba(209,209,209,1) 100%, rgba(254,254,254,1) 100%, rgba(209,209,209,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 36%,rgba(209,209,209,1) 64%,rgba(209,209,209,1) 85%,rgba(209,209,209,1) 100%,rgba(254,254,254,1) 100%,rgba(209,209,209,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 36%,rgba(209,209,209,1) 64%,rgba(209,209,209,1) 85%,rgba(209,209,209,1) 100%,rgba(254,254,254,1) 100%,rgba(209,209,209,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#d1d1d1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */



-webkit-box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.41);
-moz-box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.41);
box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.41);

transition: all 0.2s ease;


}

.testboard-cards > span{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  padding: 0px 10px;
  text-align: center;

}
.testboard-cards:hover{

transform: scale(1.05) translateY(-20px);
-webkit-box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.51);
-moz-box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.51);
box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.51);

}
