.dataset{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: url("../Analytics/background.svg") rgba(0,0,0,0.1);
}

.dataset__container{
    margin-top: 5em;
    background: whitesmoke;
    width: 80%;
    padding:2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dataset__cell{
    color: whitesmoke !important;
    font-size: 1.1em !important;
}

.dataset__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2em;
}

.dataset__title{
    font-size: 1.3em;
    color:rgb(82, 79, 79)
}

/*Toggle Switch*/

.toggleSwitch input{
  display:none;
}

.toggleSwitch{
  display:flex;
  justify-content:center;
  align-items:center;
  
}

.actualRadio {
  font-size:1.2em; 
  padding:0.5em;
  color:#34386b;
  border:2px solid #34386b;
  cursor:pointer;
}

.toggleSwitch input:checked + .actualRadio{
  background:#34386b;
  color:whitesmoke;
}

#leftSwitch{
  border-right:none;
  padding-left:1.5em;
  border-radius:20px 0px 0px 20px;
}

#rightSwitch{
  padding-right:1.5em;
  border-radius:0px 20px 20px 0px;
}

/*Delete*/

.profile{
    visibility: hidden;
}