
.main-container{
  position: absolute;
  width: calc(100% - 300px);
  min-height:100vh;
  margin-left: 300px;
  background: white;

  
}

.sub-container{
  margin-top: 77px;
  width:100%;
  min-height: 92vh;
  background: white;
  display: flex;


}

#loader{
  position: absolute;
  top:50%;
  left:50%;

}

a{
  color:#102B3F;
}
