body{

  margin:0px;
  font-family: 'Poppins', sans-serif;
}

html{
  font-size: 16px !important;
}


@media only screen and (max-width: 1886px) {

  .sc .sc-info{
    font-size: 1.4em !important;
  }

}

@media only screen and (max-width: 1820px) {
  .overview , .main{
    width: 100% !important;
  }


}

@media only screen and (max-width: 1665px) {

  .sc .sc-info{
    font-size: 1.3em !important;
  }

  .main-title{
    font-size: 28px !important;
  }

}


@media only screen and (max-width: 1590px) {

  .overview,.main{
    flex-direction: column;
    align-items: center;

  }

  .overview > .sc , .main > * {
    margin: 20px 0px;
    width:65% !important;
    padding-bottom: 20px;
  }

  .sc-container,.sc-info{
    min-height: 267px !important;
  }

  .controls-edit > *{
    margin: 20px 0px;
  }

  .key{
    padding-left: 180px !important;
  }

.websites-caraousel{
  justify-content: space-between !important;
}

.sc .sc-info{
  font-size: 1.5em !important;
}

.websites-container > * {
  margin-bottom: 25px !important;
}

.websites-container{
  padding-bottom: 0px;
}

.controls-content{
  font-size: 18px !important;
}


}


@media only screen and (max-width: 1520px) {
  .main > * , .overview > .sc{
    width: 75% !important;
  }

  .websites-details-container{
    flex-direction: column;
  }

  .websites-details-container > * {
    width: 100% !important;
  }

  .controls-content{
    font-size: 18px !important;
  }
  .custom-search{
    justify-content: space-around !important;
  }

  .main-title{
    font-size: 24px !important;
  }

  .mainBox{
    width: 70% !important;
  }
}

@media only screen and (max-width: 1400px){
  .mainBox{
    width: 80% !important;
  }

}

@media only screen and (max-width: 1250px){

  .main > * , .overview > .sc{
    width: 85% !important;
  }

  .mainBox{
    width: 85% !important;
  }

}

@media only screen and (max-width: 1170px){

  .mainController{
    justify-content: space-around !important;
  }
  .mainController > *{
    margin-left: 0px !important;
  }
  .main > * , .overview > .sc{
    width: 80% !important;
  }

  .main-title{
    font-size: 20px !important;
  }

  .main-container{
    width: 100% !important;
    margin-left: 0px !important;
  }

  .header{
    width: 100% !important;
    left: 0px !important;
  }
}



@media only screen and (max-width: 933px){

  .mainController{
    justify-content: space-between !important;
  }
  .mainController > div:first-child{
    width: 180px !important;
  }




  .main > * , .overview > .sc{
    width: 90% !important;
  }

  .header > span{
    transform: translateX(50px);
  }

  .key{
    padding-left: 150px !important;
  }
}

@media only screen and (max-width: 800px){

  .mainController{
    flex-direction: column !important;
    margin-bottom: 0px !important;
  }
  .mainController > *{
    margin-bottom: 40px !important;
  }
  .mainController > div:first-child{
    width: 400px !important;
  }

  .mainResults{
    width: 95% !important;
  }

}
@media only screen and (max-width: 782px){
  .sc-container{
    flex-direction: column !important;

  }
  .sc-container > *{
    width: 100% !important;
    padding: 20px !important;
    box-sizing: border-box;
  }
  .sc-last,.sc-total{
    align-self: center !important;
  }

  .sc-graph{
    min-height:300px !important;
  }

  .sc .sc-info{
    font-size: 1.8em !important;
  }
  .values{
    font-size: 24px !important;
  }
  .sc-percentage-container{
    transform: translateX(0px) !important;
  }

  .websites-caraousel{
    flex-direction: column !important;
  }

  .websites-caraousel > *{
    margin: 60px 0px !important;
  }

  .websites-search{
    margin-top: 20px;
    justify-content:center  !important;
  }
  .websites-search > div{
    width: 60%;
    margin-left: 20px;
  }

  .website-grid{
    transform: scale(1.4);
  }

  .key{
    padding-left: 130px !important;
  }

  .left-arrow > img{
    transform: rotate(90deg);
  }

  .right-arrow > img{
    transform: rotate(90deg);
  }

  .websites-marker{
    font-size: 22px;
  }
}

@media only screen and (max-width: 689px){
  .main-title{
    font-size: 16px !important;
  }

  .key{
    padding-left: 110px !important;
  }

}

@media only screen and (max-width: 689px){


  #hamburger{
    width: 38px !important;
    top:20px !important;
  }

  #partial{
    display: none;
  }

  .main-title{
    font-size: 20px !important;
  }
}
@media only screen and (max-width: 689px){
  .key{
    padding-left: 70px !important;
  }

  .main-title{
    margin-left: 60px !important;
    /*transform: translateX(200px);*/
  }
}

@media only screen and (max-width: 550px){
  #panel2a-content > div{
    overflow: hidden !important;
  }

  .mainController > div:first-child{
    width: 300px !important;
  }
  .mainResults{
    padding: 0px 20px !important;
    overflow: hidden !important;
  }
  /*.mainResults div{
    padding: 0px !important;

  }*/


  .sc,.sc-heading, .websites,.websites-heading,.websites-container,.controls,.controls-heading{
    border-radius: 0px !important;
  }

  .key{
    padding-left: 40px !important;
  }

  .websites-details-container > div{
    margin-bottom: 30px !important;
  }

  .website-info-controls > div{


    transform: translateX(0%) !important;

  }
.website-info-controls{
  width: 50% !important;
  align-self: center !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-around !important;
}

.custom-search{
  flex-direction: column !important;
}

.custom-search > div{
  margin-bottom: 15px !important;
}

.searchField{
  margin-left: 20px !important;
}

.website-timeline-graph{
  min-height: 250px !important;
}
.profile{
  right: 20px !important;
}
}

@media only screen and (max-width: 470px){

  .mainBox{
    width: 95% !important;
  }

  /*.mainResults > div{
    padding: 0px 10px !important;

  }*/


  .main > * {
    width: 90% !important;
  }

  .sc .sc-info{
    font-size: 1.1em !important;
    min-height: 0px !important;
    height: 160px !important;
    padding: 10px !important;

  }
  .values{
    font-size: 16px !important;
  }

  .sc-graph{
    min-height: 0px !important;
    padding: 0px !important;
    height: 200px !important;
  }

  .website-grid{
    transform: scale(1.2);
  }

  .key{
    padding-left: 30px !important;
  }

  .websites-caraousel > *{
    margin: 30px 0px !important;
  }

  .profile{
    right: 10px !important;
  }

}

@media only screen and (max-width: 400px){
  .mainHeading{
    font-size: 16px !important;
  }
  .main-title{
    font-size: 16px !important;
  }
  .main-title{
    margin-left: 40px !important;
    /*transform: translateX(200px);*/
  }
  .website-timeline-graph{
    min-height: 0px !important;
  }
}
